<h2>Payslip</h2>

<div>
  <table class="dl-horizontal">
    <tbody>
      <tr>
        <td>
         Full Name
        </td>
        <td>
          {{payslip.FullName}}        
        </td>
      </tr>
      <tr>
        <td>
          Gross Income
        </td>
        <td>
          {{payslip.GrossIncome}}
        </td>
      </tr>
      <tr>
        <td>
          Income Tax
        </td>
        <td>
          {{payslip.IncomeTax}}
        </td>
      </tr>
      <tr>
        <td>
          Net Income
        </td>
        <td>
          {{payslip.NetIncome}}
        </td>
      </tr>
      <tr>
        <td>
          SuperAnnuation
        </td>
        <td>
          {{payslip.SuperAnnuation}}
        </td>
      </tr>
      <tr>
        <td>
          PayPeriod
        </td>
        <td>
          {{payslip.PayPeriod}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <a href="javascript:void(0);" title="Add User" class="btn btn-sm btn-primary" (click)="Back()">Back</a>
</p>



